{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-no-bind": 0,
    "react/react-in-jsx-scope": 2,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": "off",
    "jsx-a11y/anchor-has-content": [ 2, { "components": [ "Anchor" ] }],
    "comma-dangle": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-restricted-syntax": [2, "DebuggerStatement", "LabeledStatement", "WithStatement"],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
