.maps {
  display: flex;
  flex-direction: row;
}

.map {
  flex: 1 1 0;
}

.map-olmap {
  width: 100%;
  height: 600px;
}

.ol-control {
  position: absolute;
}

.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear 0s, visibility 0s linear 0.25s;
}
