.scaleline {
  top: 15px;
  left: 15px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(213, 213, 213, 0.61);
  border-style: solid;
  border-color: rgba(172, 172, 172, 0.61);
  border-width: 1px;
  border-radius: 5px;
  color: #242424;
  box-shadow: none;
}

.scaleline-inner {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 4px;
}

.scaleline-parts {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.scaleline-part1 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 4px;
  width: 50%;
  background-color: #333;
}

.scaleline-part2 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 4px;
  width: 50%;
  background-color: #999;
}

.scaleline-label {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-left: 4px;
  text-align: center;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 12px;
}
